.bg{

    background: var(--ion-color-light);
    --background: var(--ion-color-light);
}

.elementosBlanco{  color: #ffffff;
                   --color: #ffffff;
}

.bgToolbar{
	background: linear-gradient(48deg,rgba(187,91,209,1) 25%, rgba(128,74,181,1) 100%);
    --background: linear-gradient(48deg,rgba(187,91,209,1) 25%, rgba(128,74,181,1) 100%);
    color: #ffffff;
                   --color: #ffffff;
}